@import url('https://cdn.jsdelivr.net/npm/@fontsource/maple-mono@5.2.5/index.min.css');

@font-face {
  font-family: 'TsangerJinKai';
  src: url('https://raw.githubusercontent.com/pingfan-hu/resources/main/fonts/TsangerJinKai02-W04.ttf') format('truetype');
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'TsangerJinKai', sans-serif;
}

.reveal code,
.reveal pre,
.reveal pre code {
  font-family: 'Maple Mono', monospace;
}

.reveal img {
  margin: 0 !important;
}

.centered-text {
  text-align: center;
  margin-top: 1em;
  color: #FF5733;
}

.container {
  border: 2px solid #333; /* A solid border with a color */
  padding: 10px;          /* Padding inside the container */
  margin: 5px auto;      /* Margin to center the container */
  max-width: 90%;         /* Maximum width of the container */
  border-radius: 8px;     /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for effect */
}

.quarto-figure {
  margin-bottom: 0;
}

:root {
  --r-block-margin: 5px;
}

div.csl-entry {
  margin-bottom: 0.5em;
}
